Repository Bogomil-Stoyanov/TenebraChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

formatting
  tenebra-server/src/database/migrations/20260902170909_create_invite_codes_table.ts
  tenebra-server/src/models/InviteCode.ts
  tenebra-web/eslint.config.js
  tenebra-web/index.html
  tenebra-web/src/App.tsx
  tenebra-web/src/api/client.ts
  tenebra-web/src/components/AuthScreen.tsx
  tenebra-web/src/components/ChatScreen.tsx
  tenebra-web/src/services/AuthService.ts
  tenebra-web/src/services/FileCryptoService.ts
  tenebra-web/src/services/FileService.ts
  tenebra-web/src/services/MessagingService.ts
  tenebra-web/src/services/SecurityService.ts
  tenebra-web/src/services/SignalService.ts
  tenebra-web/src/services/SignalStoreAdapter.ts
  tenebra-web/src/services/SocketService.ts
  tenebra-web/src/types/ed2curve.d.ts
  tenebra-web/src/types/tweetnacl-util.d.ts
  tenebra-web/tsconfig.json
Due: eslint --fix, prettier --write

remove unused
  tenebra-server/scripts/generate-invite.js
Due: prettier --write

ratelimit
  tenebra-server/src/routes/users.ts
Due: eslint --fix, prettier --write

ratelimit user
  tenebra-server/src/routes/users.ts
Due: eslint --fix, prettier --write

split login and register screens
  tenebra-web/src/components/AuthScreen.tsx
Due: eslint --fix, prettier --write

clear db upon user switch
  tenebra-web/src/services/AuthService.ts
Due: eslint --fix, prettier --write

Invite codes (#11)
  tenebra-server/scripts/generate-invite.js
  tenebra-server/src/database/migrations/20260902170909_create_invite_codes_table.ts
  tenebra-server/src/models/InviteCode.ts
  tenebra-server/src/models/index.ts
  tenebra-server/src/routes/users.ts
  tenebra-web/eslint.config.js
  tenebra-web/index.html
  tenebra-web/src/App.tsx
  tenebra-web/src/api/client.ts
  tenebra-web/src/components/AuthScreen.tsx
  tenebra-web/src/components/ChatScreen.tsx
  tenebra-web/src/services/AuthService.ts
  tenebra-web/src/services/FileCryptoService.ts
  tenebra-web/src/services/FileService.ts
  tenebra-web/src/services/MessagingService.ts
  tenebra-web/src/services/SecurityService.ts
  tenebra-web/src/services/SignalService.ts
  tenebra-web/src/services/SignalStoreAdapter.ts
  tenebra-web/src/services/SocketService.ts
  tenebra-web/src/types/ed2curve.d.ts
  tenebra-web/src/types/tweetnacl-util.d.ts
  tenebra-web/tsconfig.json
Due: eslint --fix, prettier --write

add pwa
  tenebra-web/index.html
  tenebra-web/package-lock.json
  tenebra-web/package.json
  tenebra-web/public/icon-192.png
  tenebra-web/public/icon-512.png
  tenebra-web/src/main.tsx
  tenebra-web/src/vite-env.d.ts
  tenebra-web/vite.config.ts
Due: eslint --fix, prettier --write

mobile ui chat
  tenebra-web/src/components/ChatScreen.tsx
Due: eslint --fix, prettier --write

file limit nginx
  tenebra-web/nginx.conf
Due: none

Update tenebra-web/index.html
  tenebra-web/index.html
Due: none

PWA (#12)
  tenebra-web/index.html
  tenebra-web/nginx.conf
  tenebra-web/package-lock.json
  tenebra-web/package.json
  tenebra-web/public/icon-192.png
  tenebra-web/public/icon-512.png
  tenebra-web/src/components/ChatScreen.tsx
  tenebra-web/src/main.tsx
  tenebra-web/src/vite-env.d.ts
  tenebra-web/vite.config.ts
Due: eslint --fix, prettier --write

working notifications
  .env.example
  docker-compose.yml
  tenebra-server/package-lock.json
  tenebra-server/package.json
  tenebra-server/src/config/index.ts
  tenebra-server/src/controllers/messages.ts
  tenebra-server/src/database/migrations/20260902170910_add_push_subscription_to_devices.ts
  tenebra-server/src/index.ts
  tenebra-server/src/models/Device.ts
  tenebra-server/src/routes/push.ts
  tenebra-web/src/components/AuthScreen.tsx
  tenebra-web/src/components/ChatScreen.tsx
  tenebra-web/src/services/PushService.ts
  tenebra-web/src/sw.ts
  tenebra-web/vite.config.ts
Due: eslint --fix, prettier --write

formatting
  tenebra-server/src/config/index.ts
  tenebra-server/src/controllers/messages.ts
  tenebra-server/src/database/migrations/20260902170910_add_push_subscription_to_devices.ts
  tenebra-server/src/index.ts
  tenebra-server/src/routes/push.ts
  tenebra-web/index.html
  tenebra-web/src/components/ChatScreen.tsx
  tenebra-web/src/services/PushService.ts
  tenebra-web/src/sw.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.json)) or (any of: *.md)
